<a href="https://colab.research.google.com/github/KudasaiCode/Hands-on-SQLite-Selections-and-Conditions/blob/master/Selections_and_Conditions_in_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Selections and Conditions

## Connect to the SQL Database:

In [0]:
import sqlite3
from google.colab import files

In [0]:
uploaded = files.upload()

In [20]:
conn = sqlite3.connect('Sales.db')
c = conn.cursor()

In [21]:
c.execute('CREATE TABLE Sales("employee_ID INTEGERS PRIMARY KEY", "First-Name TEXT", "Last_Name TEXT", "Department TEXT", "City TEXT")') #WRONG column. remove ""

In [24]:
sales = [
    (10001, 'Daniel' ,'Olson', 'Electronics', 'San Francisco'),
    (10002, 'Nick','markmen', 'Clothes', 'San Francisco'),
    (10003, 'Maria' ,'Gonzales', 'Electronics', 'San Jose'),
    (10004, 'George' ,'Wong', 'Clothes', 'San Francisco'),
    (10005, 'Stephanie' ,'Williams', 'Clothes', 'Oakland'),
    (10006, 'Miguel' ,'Alva', 'Clothes', 'Oakland'),
    (10007, 'Jessica' ,'Collins', 'Electronics', 'San Francisco'),
    (10008, 'Ted' ,'Anderson', 'Clothes', 'Oakland'),
    (10009, 'Victoria' ,'Garcia', 'Clothes', 'San Jose'),
    (10010, 'Jjasmine' ,'Khan', 'Pharmacy, Halth, and Beauty', 'Oakland'),
    (10011, 'Adam' ,'Smith', 'Pharmacy, Halth, and Beauty', 'San Jose'),
    (10012, 'Rachel' ,'Kim', 'Electronics', 'San Jose'),
]

c.executemany('INSERT INTO Sales VALUES (?,?,?,?,?)', sales)

In [26]:
c.execute('SELECT * FROM Sales')
print(c.fetchall())

[(10001, 'Daniel', 'Olson', 'Electronics', 'San Francisco'), (10002, 'Nick', 'markmen', 'Clothes', 'San Francisco'), (10003, 'Maria', 'Gonzales', 'Electronics', 'San Jose'), (10004, 'George', 'Wong', 'Clothes', 'San Francisco'), (10005, 'Stephanie', 'Williams', 'Clothes', 'Oakland'), (10006, 'Miguel', 'Alva', 'Clothes', 'Oakland'), (10007, 'Jessica', 'Collins', 'Electronics', 'San Francisco'), (10008, 'Ted', 'Anderson', 'Clothes', 'Oakland'), (10009, 'Victoria', 'Garcia', 'Clothes', 'San Jose'), (10010, 'Jjasmine', 'Khan', 'Pharmacy, Halth, and Beauty', 'Oakland'), (10011, 'Adam', 'Smith', 'Pharmacy, Halth, and Beauty', 'San Jose'), (10012, 'Rachel', 'Kim', 'Electronics', 'San Jose')]

In [35]:
c.execute('ALTER TABLE Sales RENAME TO _Sales_old')

c.execute('CREATE TABLE Sales(employee_ID INTEGERS PRIMARY KEY, First_Name TEXT, Last_Name TEXT, Department TEXT, City TEXT)')

In [36]:
c.execute('DROP TABLE _Sales_old')

In [37]:
c.executemany('INSERT INTO Sales VALUES (?,?,?,?,?)' ,sales)

## Where:

In [38]:
# Selecting specific columns

c.execute('SELECT First_Name FROM Sales WHERE City = "Oakland"')
print(c.fetchall())

[('Stephanie',), ('Miguel',), ('Ted',), ('Jjasmine',)]

In [39]:
c.execute('UPDATE Sales SET First_Name = "Jasmine" WHERE Last_Name = "Khan" ')

c.execute('SELECT First_Name FROM Sales WHERE City = "Oakland"')
print(c.fetchall())

[('Stephanie',), ('Miguel',), ('Ted',), ('Jasmine',)]

## AND:

In [41]:
c.execute('UPDATE Sales SET Department = "Cosmetics" WHERE City = "San Francisco" AND Department = "Clothes"')
c.execute('SELECT Department FROM Sales WHERE City = "San Francisco"')
print(c.fetchall())

[('Electronics',), ('Cosmetics',), ('Cosmetics',), ('Electronics',)]

In [55]:
c.execute('SELECT First_Name, Last_Name \
  FROM Sales \
  WHERE City = "San Francisco" AND employee_ID = "10001" OR employee_ID = "10002"')
          
print(c.fetchall())

[('Daniel', 'Olson'), ('Nick', 'markmen')]

## OR:

In [42]:
c.execute('UPDATE Sales SET Department = "Closed" WHERE City = "San Francisco" OR City = "San Jose" ')

c.execute('SELECT Department, City FROM Sales')
print(c.fetchall())

[('Closed', 'San Francisco'), ('Closed', 'San Francisco'), ('Closed', 'San Jose'), ('Closed', 'San Francisco'), ('Clothes', 'Oakland'), ('Clothes', 'Oakland'), ('Closed', 'San Francisco'), ('Clothes', 'Oakland'), ('Closed', 'San Jose'), ('Pharmacy, Halth, and Beauty', 'Oakland'), ('Closed', 'San Jose'), ('Closed', 'San Jose')]

In [47]:
c.execute('SELECT First_Name, Department FROM Sales WHERE City = "San Francisco" OR City = "San jose"')
print(c.fetchall())

[('Daniel', 'Closed'), ('Nick', 'Closed'), ('George', 'Closed'), ('Jessica', 'Closed')]

## NOT:

In [56]:
c.execute('SELECT First_Name \
  FROM Sales \
  WHERE NOT City = "San Francisco"')
print(c.fetchall())

[('Maria',), ('Stephanie',), ('Miguel',), ('Ted',), ('Victoria',), ('Jasmine',), ('Adam',), ('Rachel',)]

## IN:

In [58]:
c.execute('SELECT Last_Name \
  FROM Sales \ 
  WHERE Department IN ("Cosmetics", "Closed", "MadeUpDep")') 
# MadeUpDep does not exist. Still works
print(c.fetchall())

[('Olson',), ('markmen',), ('Gonzales',), ('Wong',), ('Collins',), ('Garcia',), ('Smith',), ('Kim',)]

## BETWEEN:

In [61]:
c.execute('SELECT Last_Name \
  FROM Sales \
  WHERE employee_ID BETWEEN 10001 AND 10006')
print(c.fetchall())

[('Olson',), ('markmen',), ('Gonzales',), ('Wong',), ('Williams',), ('Alva',)]

## Exists:

In [64]:
# Returns boolean result. Not always used to query actual VALUES

c.execute("SELECT * FROM Sales \
  WHERE EXISTS \
  (SELECT Last_Name \
  FROM Sales \
  WHERE employee_ID BETWEEN 10001 AND 10006)")

if c.fetchone():
  print('Found Record!')
else:
  print('NO')

Found Record!

## LIMITS:

In [66]:
# specify amount of values desirred

c.execute('SELECT First_Name FROM Sales \
  WHERE City = "San Jose" \
  LIMIT 3')
print(c.fetchall())

[('Maria',), ('Victoria',), ('Adam',)]

In [67]:
c.execute('SELECT First_Name FROM Sales \
  WHERE City = "San Jose" \
  LIMIT 2')
print(c.fetchall())

[('Maria',), ('Victoria',)]