<a href="https://colab.research.google.com/github/KudasaiCode/Hands-on-Grouping-and-Reorganizing-Data-SQLite/blob/master/Grouping_and_Reorganizing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Grouping and Reorganizing Data

In [1]:
from google.colab import files
import sqlite3

uploaded = files.upload()

In [0]:
conn = sqlite3.connect('Sales.db')
c = conn.cursor()

In [0]:
c.execute("CREATE TABLE Orders(num1 INTEGERS PRIMARY KEY, num2 INTEGERS, num3 INTEGERS, num4 INTEGERS, Date TEXT)")
orders = [
    (50010, 20013, 30004, 10008, '17-04-11'),
    (50011, 20014, 30005, 10009, '19-09-16'),
]

In [7]:
c.executemany("INSERT INTO Orders VALUES (?,?,?,?,?)", orders)

In [8]:
c.execute("SELECT * FROM Orders")
print(c.fetchall())

[(50010, 20013, 30004, 10008, '17-04-11'), (50011, 20014, 30005, 10009, '19-09-16')]

In [9]:
c.execute("CREATE TABLE Customers(Customer_ID INTEGERS PRIMARY KEY, First_Name TEXT, Last_Name TEXT, City TEXT)")
customers = [
    (50010, "Jeremy", "Del Valle", "Aguadilla"),
    (50011, "Joshua", "Del Valle", "Isabela"),
    (50012, "Natalia", "Hernandez", "Isabela"),
    (50013, "Jose", "Rojas", "Aguadilla"),
    (50014, "Carlos", "Robles", "Aguadilla"),
]
c.executemany("INSERT INTO Customers VALUES (?,?,?,?)", customers)

In [10]:
c.execute("SELECT * FROM Customers")
print(c.fetchall())

[(50010, 'Jeremy', 'Del Valle', 'Aguadilla'), (50011, 'Joshua', 'Del Valle', 'Isabela'), (50012, 'Natalia', 'Hernandez', 'Isabela'), (50013, 'Jose', 'Rojas', 'Aguadilla'), (50014, 'Carlos', 'Robles', 'Aguadilla')]

In [25]:
c.execute("INSERT INTO Orders VALUES (50020, 20015, 30005, 10009, '20-10-20')")

## INNER JOINS:

In [19]:
# Joins and returns the records that have a mutual connection specified

c.execute("SELECT * FROM Customers \
  INNER JOIN Orders ON Customers.Customer_ID = Orders.num1")
print(c.fetchall())

[(50010, 'Jeremy', 'Del Valle', 'Aguadilla', 50010, 20013, 30004, 10008, '17-04-11'), (50011, 'Joshua', 'Del Valle', 'Isabela', 50011, 20014, 30005, 10009, '19-09-16')]

In [14]:
c.execute("SELECT * FROM Orders")
print(c.fetchall())
c.execute("SELECT * FROM Customers")
print(c.fetchall())

[(50010, 20013, 30004, 10008, '17-04-11'), (50011, 20014, 30005, 10009, '19-09-16')]
[(50010, 'Jeremy', 'Del Valle', 'Aguadilla'), (50011, 'Joshua', 'Del Valle', 'Isabela'), (50012, 'Natalia', 'Hernandez', 'Isabela'), (50013, 'Jose', 'Rojas', 'Aguadilla'), (50014, 'Carlos', 'Robles', 'Aguadilla')]

## LEFT JOINS:

In [21]:
# Joins and returns ALL the records that have a mutual connection. Joins 'NONE' if not found

c.execute("SELECT * FROM Customers \
  LEFT JOIN Orders ON Customers.Customer_ID = Orders.num1")
print(c.fetchall())

[(50010, 'Jeremy', 'Del Valle', 'Aguadilla', 50010, 20013, 30004, 10008, '17-04-11'), (50011, 'Joshua', 'Del Valle', 'Isabela', 50011, 20014, 30005, 10009, '19-09-16'), (50012, 'Natalia', 'Hernandez', 'Isabela', None, None, None, None, None), (50013, 'Jose', 'Rojas', 'Aguadilla', None, None, None, None, None), (50014, 'Carlos', 'Robles', 'Aguadilla', None, None, None, None, None)]

In [22]:
c.execute("SELECT * FROM Customers \
  LEFT JOIN Orders ON Customers.Customer_ID = Orders.num1 \
  WHERE Customers.City = 'Isabela'") # Condition to only return where city = 'Isabela'
print(c.fetchall())

[(50011, 'Joshua', 'Del Valle', 'Isabela', 50011, 20014, 30005, 10009, '19-09-16'), (50012, 'Natalia', 'Hernandez', 'Isabela', None, None, None, None, None)]

In [26]:
# Using TABLE Orders as left table

c.execute("SELECT * FROM Orders \
  LEFT JOIN Customers ON Orders.num1 = Customers.Customer_ID")
print(c.fetchall())

# num1 = 50020 did not match to any Custonmer_ID, so "none" was joined.

[(50010, 20013, 30004, 10008, '17-04-11', 50010, 'Jeremy', 'Del Valle', 'Aguadilla'), (50011, 20014, 30005, 10009, '19-09-16', 50011, 'Joshua', 'Del Valle', 'Isabela'), (50020, 20015, 30005, 10009, '20-10-20', None, None, None, None)]

## UNIONS

Used to view columes from different tables who may not have matching columns

In [29]:
# Union only fetches UNIQUE records. Filters copies out

c.execute("SELECT First_Name, City FROM Customers \
  WHERE City = 'Aguadilla' \
  UNION \
  SELECT num1, Date FROM Orders")
print(c.fetchall())

[(50010, '17-04-11'), (50011, '19-09-16'), (50020, '20-10-20'), ('Carlos', 'Aguadilla'), ('Jeremy', 'Aguadilla'), ('Jose', 'Aguadilla')]

## ORDER BY:

In [30]:
c.execute("SELECT * FROM Customers \
  ORDER BY Customer_ID DESC")    #Descending order
print(c.fetchall())

[(50014, 'Carlos', 'Robles', 'Aguadilla'), (50013, 'Jose', 'Rojas', 'Aguadilla'), (50012, 'Natalia', 'Hernandez', 'Isabela'), (50011, 'Joshua', 'Del Valle', 'Isabela'), (50010, 'Jeremy', 'Del Valle', 'Aguadilla')]

In [32]:
c.execute("SELECT * FROM Orders \
  ORDER BY num2 DESC")    # Descending order
print(c.fetchall())

[(50020, 20015, 30005, 10009, '20-10-20'), (50011, 20014, 30005, 10009, '19-09-16'), (50010, 20013, 30004, 10008, '17-04-11')]

In [33]:
c.execute("SELECT * FROM Orders \
  ORDER BY num3 ASC")    # Ascending order
print(c.fetchall())

[(50010, 20013, 30004, 10008, '17-04-11'), (50011, 20014, 30005, 10009, '19-09-16'), (50020, 20015, 30005, 10009, '20-10-20')]