<a href="https://colab.research.google.com/github/KudasaiCode/Hands-on-Data-Analytics-Loading-and-reading-resources/blob/master/Loading_and_Working_with_Data_Sources.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading and working with data sources

---

##Create, Download, Upload, and Modify Text Files

### Create a text file:

In [0]:
with open('example.txt', 'w') as file:
  file.write('Some content.\n') # Memory in google Colab is temporary. Download it to keep it

### Download a text file:

In [0]:
# Downloads the file created above
from google.colab import files
files.download('example.txt')

### Upload a text file:

In [14]:
uploaded = files.upload()

for fn in uploaded.keys():
  print('uploaded: "{file}" - {bytes} Bytes'.format(file = fn, bytes = len(uploaded[fn])))

Saving Results.csv to Results (4).csv
uploaded: "Results.csv" - 403370 Bytes

### Display list of uploaded files:

In [0]:
#print(uploaded)

### Append text files:

In [0]:
with open('example.txt', 'a') as file:
  file.write('Some Additional content that was appended 2.')

In [19]:
with open('example.txt', 'r')as file:
  print(file.read())

Some content.
Some Additional content that was appended.Some Additional content that was appended 2.

## Upload and Read CSV and TSV Files

### Load CSV file:

In [86]:
from google.colab import files
import pandas as pd

uploaded = files.upload()

Saving LoadingFiles.csv to LoadingFiles (1).csv

### Print out raw data:

In [87]:
print(uploaded) # Each colums is seperated by comma. CRLF indicate the star of new row.

{'LoadingFiles.csv': b'\xef\xbb\xbfEmployee ID,First Name, Last Name ,Department, City\r\n10001,Danel,Olson,Electronics,San Franciso\r\n10002,Nick,Markmen,Clothes,San Franciso\r\n10003,Maria,Gonzales,Electronics,San Jose\r\n10004,George,Wong,Clothes,San Francisco\r\n10005,Stephanie,Williams,Clothes,Oakland\r\n10006,Miguel,Alva,Clothes,Oakland\r\n10007,Jessica,Collins,Cosmetics,San Francisco\r\n10008,Ted,Anderson,Clothes,Oakland\r\n10009,Victoria,Garcia,Clothes,San Jose\r\n10010,Jasmine,Khan,"Pharmacy, Health, and Beauty",Oakland\r\n10011,Adam,Smith,"Pharmacy, Health and Beauty",San Jose\r\n10012,Rachel,Kim,Electronics,San Jose\r\n'}

### Read CSV file:

In [88]:
with open('LoadingFiles.csv', 'r') as file:
  print(file)
  
  print('\n must use the .read() method\n\n')

  print(file.read())
  
  file.close() # The instructor explicitly closed it
               # the 'with' context manager should close it even without us telling it too.

<_io.TextIOWrapper name='LoadingFiles.csv' mode='r' encoding='UTF-8'>

 must use the .read() method


ï»¿Employee ID,First Name, Last Name ,Department, City
10001,Danel,Olson,Electronics,San Franciso
10002,Nick,Markmen,Clothes,San Franciso
10003,Maria,Gonzales,Electronics,San Jose
10004,George,Wong,Clothes,San Francisco
10005,Stephanie,Williams,Clothes,Oakland
10006,Miguel,Alva,Clothes,Oakland
10007,Jessica,Collins,Cosmetics,San Francisco
10008,Ted,Anderson,Clothes,Oakland
10009,Victoria,Garcia,Clothes,San Jose
10010,Jasmine,Khan,"Pharmacy, Health, and Beauty",Oakland
10011,Adam,Smith,"Pharmacy, Health and Beauty",San Jose
10012,Rachel,Kim,Electronics,San Jose

### Read CSV file into a pandas dataframe:

In [89]:
import io
from IPython.display import display, HTML

data_frame = pd.read_csv(io.StringIO(uploaded['LoadingFiles.csv'].decode('utf-8')))

display(data_frame)

,Employee ID,First Name,Last Name,Department,City
0,10001,Danel,Olson,Electronics,San Franciso
1,10002,Nick,Markmen,Clothes,San Franciso
2,10003,Maria,Gonzales,Electronics,San Jose
3,10004,George,Wong,Clothes,San Francisco
4,10005,Stephanie,Williams,Clothes,Oakland
5,10006,Miguel,Alva,Clothes,Oakland
6,10007,Jessica,Collins,Cosmetics,San Francisco
7,10008,Ted,Anderson,Clothes,Oakland
8,10009,Victoria,Garcia,Clothes,San Jose
9,10010,Jasmine,Khan,"Pharmacy, Health, and Beauty",Oakland
10,10011,Adam,Smith,"Pharmacy, Health and Beauty",San Jose
11,10012,Rachel,Kim,Electronics,San Jose

### Load and read TSV file:

In [62]:
# tsv uses \t to seperate columns of data

uploaded = files.upload()

Saving LoadingFiles.txt to LoadingFiles.txt

In [63]:
with open('LoadingFiles.txt') as file:
  print(file.read())

Employee ID	First Name	 Last Name 	Department	 City
10001	Danel	Olson	Electronics	San Franciso
10002	Nick	Markmen	Clothes	San Franciso
10003	Maria	Gonzales	Electronics	San Jose
10004	George	Wong	Clothes	San Francisco
10005	Stephanie	Williams	Clothes	Oakland
10006	Miguel	Alva	Clothes	Oakland
10007	Jessica	Collins	Cosmetics	San Francisco
10008	Ted	Anderson	Clothes	Oakland
10009	Victoria	Garcia	Clothes	San Jose
10010	Jasmine	Khan	"Pharmacy, Health, and Beauty"	Oakland
10011	Adam	Smith	"Pharmacy, Health and Beauty"	San Jose
10012	Rachel	Kim	Electronics	San Jose

### Load TSV file into pandas datafrme:

In [65]:
df = pd.read_csv(io.StringIO(uploaded['LoadingFiles.txt'].decode('utf-8')), sep = '\t')
display(df)

,Employee ID,First Name,Last Name,Department,City
0,10001,Danel,Olson,Electronics,San Franciso
1,10002,Nick,Markmen,Clothes,San Franciso
2,10003,Maria,Gonzales,Electronics,San Jose
3,10004,George,Wong,Clothes,San Francisco
4,10005,Stephanie,Williams,Clothes,Oakland
5,10006,Miguel,Alva,Clothes,Oakland
6,10007,Jessica,Collins,Cosmetics,San Francisco
7,10008,Ted,Anderson,Clothes,Oakland
8,10009,Victoria,Garcia,Clothes,San Jose
9,10010,Jasmine,Khan,"Pharmacy, Health, and Beauty",Oakland
10,10011,Adam,Smith,"Pharmacy, Health and Beauty",San Jose
11,10012,Rachel,Kim,Electronics,San Jose

## Load and read excel files:

In [68]:
# Pandas can also read excel files
!pip3 install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.6/dist-packages (1.1.0)

In [0]:
import xlrd

In [74]:
uploaded = files.upload()

Saving LoadingFiles.xlsx to LoadingFiles.xlsx

### Load excel into pandas and display data:

In [76]:
df = pd.read_excel(open('LoadingFiles.xlsx', 'rb'))
display(df)

,Employee ID,First Name,Last Name,Department,City
0,10001,Danel,Olson,Electronics,San Franciso
1,10002,Nick,Markmen,Clothes,San Franciso
2,10003,Maria,Gonzales,Electronics,San Jose
3,10004,George,Wong,Clothes,San Francisco
4,10005,Stephanie,Williams,Clothes,Oakland
5,10006,Miguel,Alva,Clothes,Oakland
6,10007,Jessica,Collins,Cosmetics,San Francisco
7,10008,Ted,Anderson,Clothes,Oakland
8,10009,Victoria,Garcia,Clothes,San Jose
9,10010,Jasmine,Khan,"Pharmacy, Health, and Beauty",Oakland
10,10011,Adam,Smith,"Pharmacy, Health and Beauty",San Jose
11,10012,Rachel,Kim,Electronics,San Jose

## Create and Upload Google Spreadsheet

### Give Colabs permissin to access Goggle Drive:

In [0]:
!pip install --upgrade -q gspread

from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

### Create a new Google Spreadsheet:

In [81]:
sheet = gc.create('New Spreadsheet')
worksheet = gc.open('New Spreadsheet').sheet1

cell_list = worksheet.range('A1:C2')

import random
for cell in cell_list:
  cell.value = random.randint(1,10)

worksheet.update_cells(cell_list)

{'spreadsheetId': '1UfDbDL3DDhOFkBlECll7M4GieH09sq2TBfFU-QlMTBI',
 'updatedCells': 6,
 'updatedColumns': 3,
 'updatedRange': 'Sheet1!A1:C2',
 'updatedRows': 2}

### Upload Google Spreadsheet to pandas dataframe:

In [84]:
worksheet = gc.open('New Spreadsheet').sheet1

rows = worksheet.get_all_values()

import pandas as pd

pd.DataFrame.from_records(rows)

   0  1  2
0  6  5  9
1  7  6  1